# AAP Midterm Practice

This is walk through of materials on Midterm Exam Notes.

In [3]:
# Preemptive Imports
import numpy as np
import re
from functools import reduce
import operator
import itertools

# Counter

In [4]:
from collections import Counter

# Plotting (R)

In [5]:
import matplotlib.pyplot as plt

In [6]:
%matplotlib inline
'''
x = list
yval = list
x_pos [i for i, _ in enumerate(x)] -> counts and returns x pos

plt.figure(figsize=(10, 6))
plt.bar(x_pos, yval, color='whatevers') -> displays y value in x interval

plt xticks(x_pos, x) -> name of x_pos values

plt.xlabel("wev")
plt.ylabel("wev2")

plt.show()

'''

'\nx = list\nyval = list\nx_pos [i for i, _ in enumerate(x)] -> counts and returns x pos\n\nplt.figure(figsize=(10, 6))\nplt.bar(x_pos, yval, color=\'whatevers\') -> displays y value in x interval\n\nplt xticks(x_pos, x) -> name of x_pos values\n\nplt.xlabel("wev")\nplt.ylabel("wev2")\n\nplt.show()\n\n'

# Beautiful Soup (R)

In [7]:
from bs4 import BeautifulSoup as bs
import requests as req

### Scrape and Parse Website

In [8]:
url = "https://www.nasdaq.com/symbol/nvda/dividend-history"
res = req.get(url)
soup = bs(res.content, "html.parser")

### Get Last Sale Price

In [9]:
last_sale = soup.find("div",{"id": "qwidget_lastsale"})
print(last_sale.contents[0])

$187.15

### Get Most Recent Dividend

In [10]:
most_recent_dividend = soup.find("span", {"id": "quotes_content_left_dividendhistoryGrid_CashAmount_0"})
print(most_recent_dividend.contents[0])

0.15

### Get Latest News Headlines

In [11]:
news_headlines = soup.find("div", {"id": "right-column-div"})
ul = news_headlines.find("ul")
for i in ul.findAll("a"):
    print(i.text.strip())

Palmetto Heritage Shareholders Approve Proposed Merger With First Citizens Bank
Advisory: Fortis Inc. to Hold Teleconference on November 2 to Discuss Third Quarter 2018 Results
EMC Insurance Companies® Enters into an Agreement with  Safeco Insurance® for Transition of Persona
U.S. restricts exports to Chinese semiconductor firm Fujian Jinhua

### DJIA

In [12]:
djia_table = soup.find("div", {"id": "RailIndexTable"})
# 4th from the tags
djia_table.findAll("b")[4].text

'24452.25'

### Rider Alerts

In [13]:
url2 = "https://dart.org/riding/dartrailredline.asp#rail"
res2 = req.get(url2)
soup2 = bs(res2.content, "html.parser")

In [14]:
alert_bar = soup2.find("ul", {"class": "rideralerts"})
for i in alert_bar.findAll("li"):
    print(i.text)

Construction Projects to Disrupt Orange Line Over Two-Week Period, Effective October 27-28, November 3-4, 2018
Current Route Detours (Effective for routes 11, 12, 26, 31, 35, 42, 81/82, 161, 206, 211, 278, 347, 350, 376, 402, 403, 409, 444, 522, 542, 549, 571, 595, 597)
TRE Rider Alert effective June 18, 2018
Always Be Alert: A message from DART Police

### Get all Stations

In [15]:
navlist = soup2.findAll("ul", {"class":"nav"})
stations = navlist[4].findAll('a')
for i in stations:
    print(i.text)

Parker Road
Downtown Plano
CityLine/Bush
Galatyn Park
Arapaho Center
Spring Valley
LBJ/Central
Forest Lane
Walnut Hill
Park Lane
Lovers Lane
Mockingbird
Cityplace/Uptown
Pearl/Arts District
St. Paul
Akard
West End
Union Station
Convention Center
Cedars
8th & Corinth
Dallas Zoo
Tyler/Vernon
Hampton
Westmoreland

# Pandas

In [16]:
import pandas as pd
import csv

### Read CSV file

In [17]:
# ol = pd.read_csv("./asset/olympics.csv")
wc = pd.read_csv("./asset/WorldCupMatches.csv")

### Olympic Data

### Clean Data Label

In [18]:
ol = pd.read_csv("./asset/olympics.csv", header=None)
ol.columns = ol.iloc[4]
ol=ol.tail(-5)
ol.head()

4,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
5,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
6,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
7,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
8,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
9,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

### World Cup Data

# Multiple Choice Prep

### Regex (R)

1. ^ operator

if in [^], then negative set
if outside [] or used alone, Beginning

2. $ operator

has to be used in the set []

3. Capture Groups and ref back

can capture set of match in between (), and you ref it by \order

### MongoDB (R)

- Stands for Humongous Database
- BSON -> NoSQL db, document oriented db
- RDB scales up, NoSQL scales out.
- DB -> Collection -> Document(BSON) -> Field
- CRUD on Mongo
    - C: db.collection.insert/save(<doc>), update({upsert:true})
    - R: find(<query>, <projection>), findOne/find_one(<query>, <projection>)
    - U: update(<query>, <update>, <options>)
    - D: remove(<query>, <justOne>)
- datatype
    - Null
    - Boolean
    - String
    - number
    - Dates // new Date()
    - Array // []
    - embedded doc // {field: {field: val} }
    - objid // {_id: ObjectId()}
    
[reference](https://docs.mongodb.com/manual/tutorial/query-documents/)

### Pandas (R)

- Create df from list: a list becomes a column
- list of list: outermost list becomes a column. Thus, the values of inner lists are expanded to row
- df from dict: key = column name, val = column data
- add new column: df['newcol] = whatever
- **axis**:1 = all COLs in each ROW, 0 = all ROWs in each COL (0:row, 1:col)
- selecting column: df['column name'] // df[list(col names)]
- iloc: row index (옆에 있는 자동으로 생기는 숫자). : for all rows
- loc: row index as well, [row, column] for a single value 
- make boolean colum: df['col'].isin['vals']
- 
- at: can use at to get value, and also assign value // df.at[row index, column name] = newval
- iat: same as at but uses index for both column and row. Column is 0 indexed
-sort_values(by=['column**s**'])
- Groupby: returns an address. can call size, mean, sum, add_prefix("string"), iterable.
- Plot in Pandas: can use groupby on as well.

### Adv.Py (R)

In [19]:
# Return multiple Values
def foo():
    a = 22
    b = 44
    c = 99
    return a,b,c

x,y,z = foo()
print(x, y, z)

# OR, use set

def fooset():
    a = 1
    b = 2
    c = 3
    return {a,b,c}

a,b,c = fooset()
print(a,b,c)

22 44 99
1 2 3

In [20]:
# pass func to func
import re

def test():
    print("Test was invoked")
    
def invoker(func):
    func()
    
invoker(test)

# data that needs cleaning
states = ['   TeXas','sOUth #caRolina  ', '  ?GEoRGIA', ' !Alabama!  ' ]

def punc_strip(val):
    return re.sub('[!?#]', '', val)
    
clean_list = [str.strip, punc_strip, str.title]

def clean_string(string, ops):
    result = []
    for val in string:
        for function in ops:
            val = function(val)
        result.append(val)
    return result

print (clean_string(states, clean_list))

Test was invoked
['Texas', 'South Carolina', 'Georgia', 'Alabama']

In [21]:
# *args & **kwargs
'''
**kwargs : pass variable number of arguments to a function
* args: non-keyworded variable length argument list
'''

def args_test(f_arg, *argv):
    print("first normal arg:", f_arg)
    for arg in argv:
        print("list of arg:", arg)

args_test('python', 'java', 'cpp')

first normal arg: python
list of arg: java
list of arg: cpp

In [22]:
# kwargs

def kwarg_test(**kwargs):
    for key, value in kwargs.items():
        print("{0} - {1}".format(key, value))
        
kwarg_test(name=["lee", "jake"], age=[25,22])

name - ['lee', 'jake']
age - [25, 22]

In [23]:
# List Comprehension vs Loops
'''
new_list = [expression(i) for i in list if filter(i)]
'''

# Loop for list
square_loop = []
for x in range(10):
    square_loop.append(x**2)

# LC
square_lc = [x**2 for x in range(10)]

print(square_loop == square_lc)

'''
is vs ==

list1 = [1,2]
list2 = [1,2]

list1 is list2 -> False
list1 == list2 -> True

'''

# Full LC

sqr_over_five = [x**2 for x in range(10) if x > 4]

# The last bit is filter function
# so it will return only the ones that pass the filter
print (sqr_over_five)

True
[25, 36, 49, 64, 81]

In [24]:
# Lambda Function

# Named function
def add(x,y):
    return x+y

z = add(2,3)

# OR, use Lambda
# function invoker = lambda params : operation
# add = fn x,y -> x+y end
aadd = lambda x,y : x+y

print(aadd(2,3) == z)

def times2(x):
    return x*2

named = map(times2, [1,2,3,4])

# Map returns obj so typecast to list
print(list(named))
print(list(map(lambda x:x*2, [1,2,3,4])))

# This is false because the address of the two obj are not the same
print(map(lambda x:x*2, [1,2,3,4]) == named)
# ??????
print(list(map(lambda x:x*2, [1,2,3,4])) == list(named))

True
[2, 4, 6, 8]
[2, 4, 6, 8]
False
False

In [25]:
# Iterating Dict with map & lambda

dict_a = [{'name': 'python', 'points': 10}, {'name': 'java', 'points': 8}]

l1 = list(map(lambda x:x['name'], dict_a))
print(l1)

l2 = list(map(lambda x:x['points']*10, dict_a))
print(l2)

l3 = list(map(lambda x:x['name'] == "python", dict_a))
print(l3)

['python', 'java']
[100, 80]
[True, False]

In [26]:
# Filter
# Same as map, but returns reduced lsit

list_a = [1,2,3,4]

even = list(filter(lambda x:x%2 == 0, list_a))

print(even)

[2, 4]

In [27]:
# Zip
# iterabless to tuple. Not DICT

list1 = [1,2,3,4]
list2 = list('abcd')

zipset = list(zip(list1, list2))

print(zipset)

la = list('abc')
lb = list('123')
lc = list('mmm')

threezip = list(zip(la,lb,lc))

print(threezip)

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]
[('a', '1', 'm'), ('b', '2', 'm'), ('c', '3', 'm')]

In [28]:
# Iterables
# List, String, Set, 

it1 = list('abcdf')
dit = {'a':'1', 'b':'2'}

grade = iter(it1)
dictiter = iter(dit)

# for i in range(len(it1)):
#     print(next(grade))
    
# For Dict, only traverse the key
for i in range(len(dit)):
    keystore = next(dictiter)
    print('{0}:{1}'.format(keystore, dit[keystore]))

a:1
b:2

In [29]:
# Build my Iterator

class Sqr:
    def __init__(self, max=0):
        self.max = max
    
    # When created, set te counter and return the instance -> keeps state
    def __iter__(self):
        self.n = 0
        return self
    
    def __next__(self):
        if self.n <= self.max:
            result = 2**self.n
            self.n += 1
            return result
        else:
            raise StopIteration

In [30]:
myiter = Sqr(10)

for k in myiter:
    print(k)

1
2
4
8
16
32
64
128
256
512
1024

In [31]:
# Generators
def my_gen():
    n = 1
    print("first")
    yield n
    
    n+=1
    print("second")
    yield n
    
    n += 1
    print("third")
    yield n
    
gen = my_gen()

# while True:
#     print(next(gen))

# WHY? why only 2?
# for k in gen:
#     print(next(gen))

In [32]:
# Gen Comp

mylist = [1,2,3,4]

newlc = [x**2 for x in mylist]
newmaplist = list(map(lambda x:x**2, mylist))

lazygen = (x**2 for x in mylist)
lazymap = (map(lambda x:x**2, mylist))

# while True:
#     print(next(lazygen))

In [33]:
# Reduce

rlist = [1,2,3,4,5,6]

rsum = reduce(lambda a,b: a+b, rlist)
rmax = reduce(lambda a,b: a if a>b else b, rlist)
ravg = reduce(lambda a,b: a+b, rlist) / len(rlist)

In [34]:
# Operator
# Reference : https://docs.python.org/3.4/library/operator.html

olist = [1,2,3,4,5,6]

print("Sum is: ",end="")
print(reduce(operator.add, olist))

Sum is: 21

In [35]:
# itertools

# Goes fucking forever
newiter = itertools.count(10)

In [36]:
# islice -> why not range (100, 105)?
for i in itertools.islice(itertools.count(100), 5):
    print(i)

100
101
102
103
104

In [37]:
# Cycle -> repeats a sequence for given range
myiter = itertools.cycle('xyz')

for i in range(8):
    print(next(myiter))

x
y
z
x
y
z
x
y

In [38]:
# dropwhile

dropiter = itertools.dropwhile(lambda x:x<5, [1,2,3,4,5,6,7,8,9,10])

for i in dropiter:
    print(i)

5
6
7
8
9
10

### Stats

- corr: shows strength vector ofthe relation
    - 1: perfect correlation
    - \-1: inverse correlation
    - 0: no correlation
- p_value: shows the negative data alignment with the null hypothesis. -> smaller the p number, easier to reject h_0.
    - <= 0.01: Linear Relation, significant
    - \> 0.01: Non-linear, insignificant.

In [39]:
# Stats
from scipy.stats import pearsonr
import random as rnd

list1 = [2,4,6,8,10,12,14]
list2 = [2,4,6,8,10,12,14]

corr, p_value = pearsonr(list1, list2)
print("correlation = %d and p_value = %d" % (corr, p_value) )

list3 = [14,12,10,8,6,4,2]
corr, p_value = pearsonr(list1, list3)
print(corr, p_value)

list4 = [2,12,4,10,5,12,4]

corr, p_value = pearsonr(list1, list4)
print(corr, p_value)

correlation = 1 and p_value = 0
-1.0 0.0
0.12848904218751167 0.7836663589301511

In [46]:
c = Counter('abcdaab')
c['z']

0