# Q1 Python Functions (2 pts)
- rewrite the function foo so that it returns a tuple of the parameter, its square and its cube
- example:  print (foo(2)) => (2,4,8)

In [2]:
# rewrite foo and display tuple  
def foo(a):
    return a, a**2, a**3

footuple = foo(2)

print(footuple)

(2, 4, 8)

# Q2 : Apply functions to a string (3 pts)
- modify the function rep1 that replaces any substring of the form 'aaa' by the string 'zzz'
- modify the function rep2 that replaces the second character of every string with 'X'
- create a  list of function objects fo1 =  [rep1, rep2]
- create a list of strings  strList = ['welcome to aaa  land', 'time to go to aaa']
- modify the function: modify(funclist, mystrlist) - that returns a list of strings after modifications
- expected output: ['wXlcome to zzz  land', 'tXme to go to zzz']

In [36]:
import re
# code for Q2
strList = ['welcome to aaa land', 'time to go to aaa']

def rep1(string):
    return re.sub('a{3}', 'zzz', string)

def rep2(string):
    strlist = list(string)
    strlist[1] = 'X'
    return ''.join(strlist)

fo1 = [rep1, rep2]

def modify(functions, strings):
    result = []
    for val in strings:
        for function in functions:
            val = function(val)
        result.append(val)
    return result

print(modify(fo1, strList))

['wXlcome to zzz land', 'tXme to go to zzz']

# Q3 : Usage of *args (3 pts)

- Modify the function fooargs that takes *args paramters  and returns a tuple of all the parameters in ascending sorted order
- Example:   fooargs('a','x','b')
- returns a TUPLE ('a','b','x')

In [41]:
def fooargs(*argv):
    ret = []
    for arg in argv:
        ret.append(arg)
    return tuple(ret)
print ( fooargs('a','x', 'b'))

('a', 'x', 'b')

# Q4 List comprehension (3 pts)
- use the range function to create a list of integers from 0 .. 9
- write a list comprehension that returns a list with 'Even' or 'Odd' depending on the value
- expect: ['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [46]:
vals = [x for x in range(10)]
resultList = ['Even' if x%2 == 0 else 'Odd' for x in vals]
print('result = ', resultList)

result =  ['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

# Q5 lambda - anonymous functions (3 pts)
- rewrite the function foo1 as a lambda

In [51]:
#write equivalent lambda function - call it foolambda
def foo1(x, y, z): 
    return x + y /z
  
# Call the function
z = foo1(2, 3, 2) 

print (z)  # prints 3.5

# convert the above function into a lambda function
# here lambda returns a function object which we assign to a variable
foolambda = lambda x,y,z : x + y /z
  
print ( foolambda(2, 3, 2)  )  # expect 3.5 - NOT the TypeError shown below

3.5
3.5

# Q6 filter function with lambda (3 pts)
- given mylist = [10, 20, 30, 40, 50, 60, 70]
- write code for mylambda and use it in a filter function such that only values between 40 and 60 (inclusive) are returned and displayed as a list
- expected printed output: [40,50,60]

In [56]:
# filter with lambda
mylist = [10, 20, 30, 40, 50, 60, 70]
mylambda = filter(lambda x:40 <= x <= 60, mylist)
print(list(mylambda))

[40, 50, 60]

# Q7 Create Your Own Iterator in Python (4 pts)
- Refactor the class MyIter with a constructor that takes three parameters: start, end  and interval.
- The class be iterable and capable of returning an iterator. The iterator should return numbers starting at 'start', ending at 'end' and with an interval of 'interval'
- For example when passing in the parameters (10,10,10) the iterator should return 10,20,30,...,100

In [70]:
class MyIter:
    def __init__(self, start=100, end=200, interval=10 ):
        self.start = start
        self.end = end
        self.interval = interval
        
    def __iter__(self):
        self.n = self.start
        return self
    
    def __next__(self):
        # print start,
        # then increase by interval amount
        # until it hits end
        if self.n <= self.end:
            result = self.n
            self.n += self.interval
            return result
        else:
            raise StopIteration
#create instance of MyIter
c1 = MyIter(10,30,10)

# write a loop that uses iterator from c1 to print the values 10..100

for k in c1:
    print(k)

10
20
30

# Q8: Statistics : correlation  ( 3 pts)
- start with a list: list0 = [2,4,6,8,10,12,14]
- write 3 lists: list1, list2 and list3 such that
- list0 and list1 have a correlation of +1
- list0 and list2 have a correlation of -1
- list0 and list3 have a corrleation between -0.5  and +0.5

In [134]:
from scipy.stats import pearsonr
import random as rnd
# do: import the pearsonr function 
# write code that calls the pearsonr function for the above lists


list0 = [2,4,6,8,10,12,14]
list1 = list0
list2 = list0[::-1]
list3 = [0,22,1,1,2,6,1]
 
# show pearsonr for list0 vs list1
c1, p1 = pearsonr(list0, list1)
print("correlation:", c1)

# show pearsonr for list0 vs list2
c2, p2 = pearsonr(list0, list2)
print("correlation:", c2)
# show pearsonr for list0 vs list3

c3, p3 = pearsonr(list0, list3)
print("correlation: ", c3)

correlation: 1.0
correlation: -1.0
correlation:  -0.27456258919345766

# Q9. Beautiful Soup (7 pts)
Using Jupyter, load  the website: Nasdaq XXX  where you will find a list of dividend payouts and a variety of dates for Nvidia
- A)	Extract all the dividends and the corresponding XXX date listed on the website.
- B)	Load the data into a DataFrame with two columns: Date and Dividend sorted by ascending date and display the DataFrame
- C)	Plot the dividends over time and generate the following graph.
See the graph on the MIdterm Exam handout.

In [135]:
from bs4 import BeautifulSoup as bs
import requests as req

### A. All Dividends and Declaration Date

In [136]:
# Load and Parse Site
url = "https://www.nasdaq.com/symbol/nvda/dividend-history"
res = req.get(url)
soup = bs(res.content, "html.parser")

# Q10 Panda Exercise 1 (4pts)
- see the Main Midterm Handout for problem description

In [242]:
# answer for Q10
import pandas as pd

df1 = pd.DataFrame([[1,2,3,4],
                    [4,5,6,7],
                    [8,9,10,11],
                    [12,13,14,15]])
df1 = df1.rename({0:"NY", 1:"TX", 2:"CA", 3:"OK"}, axis='index')
df1 = df1.rename({0:"one", 1:"two", 2:"three", 3:"four"}, axis='columns')
df1

    one  two  three  four
NY    1    2      3     4
TX    4    5      6     7
CA    8    9     10    11
OK   12   13     14    15

In [251]:
df1 = df1.where(df1 > 5, 0)
df1

    one  two  three  four
NY    0    0      0     0
TX    0    0      6     7
CA    8    9     10    11
OK   12   13     14    15

# Q11 Panda Exercise 2 (2 pts)
- see Main Midterm handout

In [255]:
# answer for  Q11
print(df1.iat[2,2] * df1.iat[3,3])

150

# Q12 Panda Exercise 3 ( 4 pts)
- see Main Midterm handout

In [260]:
#answer for Q12

df2 = pd.DataFrame([[10,12,13,14,15],[10,20,30,40,50],[2,3,44,15,66]])
df2 = df2.rename({0:"a", 1:"b", 2:"c", 3:"d", 4:"e"}, axis='columns')
df2

    a   b   c   d   e
0  10  12  13  14  15
1  10  20  30  40  50
2   2   3  44  15  66

In [269]:
df2.max(axis='rows')

a    10
b    20
c    44
d    40
e    66
dtype: int64

In [270]:
df2.max(axis='columns')

0    15
1    50
2    66
dtype: int64

# Q13 Olympics 1 ( 3 pts)
- Download the Olympics.csv
- •	Display  the  count of the number of Hungarians (HUN)  who won  medals between 2000 and 2008 in the Discipline of Swimming or Fencing

In [271]:
# Answer for Q13
import csv

In [273]:
ol = pd.read_csv("./olympics.csv", header=None)
ol.columns = ol.iloc[4]
ol=ol.tail(-5)
ol.head()

4,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
5,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
6,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
7,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
8,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
9,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [316]:
hungarian = ol[(ol['NOC'] == "HUN") & 
   ((ol['Discipline'] == 'Swimming') | 
    (ol['Discipline'] == 'Fencing')) &
   ((ol['Edition'] == '2000') |
   (ol['Edition'] == '2004') |
   (ol['Edition'] == '2008'))
  ]

# print(hungarian.count())

print("Total Medals :", hungarian.count()[9])

Total Medals : 14

# Q14 Olympics 2 ( 3pts)
- •	Based on Olympics.csv, in which events did Jesse Owens win medals - report as a DataFrame with column headings of: Year, City and Event

In [327]:
# Answer for Q14
owens = ol[
    ol['Athlete'] == "OWENS, Jesse"
]

odf = owens.drop(['Sport', 'Discipline', 'NOC', 'Gender', 'Athlete', 'Event_gender', 'Medal'], axis = 1)
odf = odf.rename({"Edition":"Year"}, axis="columns")
odf

4       City  Year         Event
6432  Berlin  1936          100m
6444  Berlin  1936          200m
6461  Berlin  1936  4x100m relay
6528  Berlin  1936     long jump